- classes = require('./style')
- containerClasses = require('#/src/container')

div(class=classes.Banner)
	div(class=containerClasses.container)
		div(class=classes.content)
			div(class=classes.contentInner)
				p(class=classes.text)
					| Продаём и ремонтируем
					br
					| сварочное оборудование
					br
					| в Томске
				ul(class=classes.advantages)
					li(class=classes.advantage)
						| работаем с 2010 года
					li(class=classes.advantage)
						| доставляем по всей России
					li(class=classes.advantage)
						| консультируем бесплатно
